In [10]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import model_selection
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV,ElasticNetCV
from pyentrp import entropy as pyent
import EntropyHub as EH
import neurokit2 as nk
import random
import sampen
import requests
import io
import apache_log_parser
from pprint import pprint
import os
from sklearn import preprocessing
from datetime import datetime

In [4]:
raw = pd.read_json(f"{os.getcwd()}/Oct2015.json")

In [6]:
raw

                                                  items
0     {'project': 'all-projects', 'access': 'mobile-...
1     {'project': 'all-projects', 'access': 'mobile-...
2     {'project': 'all-projects', 'access': 'mobile-...
3     {'project': 'all-projects', 'access': 'mobile-...
4     {'project': 'all-projects', 'access': 'mobile-...
...                                                 ...
1459  {'project': 'all-projects', 'access': 'mobile-...
1460  {'project': 'all-projects', 'access': 'mobile-...
1461  {'project': 'all-projects', 'access': 'mobile-...
1462  {'project': 'all-projects', 'access': 'mobile-...
1463  {'project': 'all-projects', 'access': 'mobile-...

[1464 rows x 1 columns]

In [11]:
df_H = pd.DataFrame([{"date": datetime.strptime(df_line["timestamp"], '%Y%m%d%H'), "count": df_line["views"]} for df_line in raw["items"]])

In [12]:
df_H

                    date   count
0    2015-10-01 00:00:00  190238
1    2015-10-01 01:00:00  197807
2    2015-10-01 02:00:00  199163
3    2015-10-01 03:00:00  193361
4    2015-10-01 04:00:00  190302
...                  ...     ...
1459 2015-11-30 19:00:00  341084
1460 2015-11-30 20:00:00  373584
1461 2015-11-30 21:00:00  371526
1462 2015-11-30 22:00:00  324203
1463 2015-11-30 23:00:00  258601

[1464 rows x 2 columns]

In [14]:
plt.plot(df_H["date"], df_H["count"])

KeyError: 'date'